appdirs==1.4.4
Babel==2.8.0
blinker==1.4
cachelib==0.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorzero==1.1
emoji==0.6.0
feedparser==5.2.1
filetype==1.0.7
Flask==1.1.2
Flask-Assets==2.0
Flask-Babel==1.0.0
Flask-Login==0.5.0
frozendict==1.2
future==0.18.2
gpiozero==1.5.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
Markdown==3.1.1
MarkupSafe==1.1.1
netaddr==0.8.0
netifaces==0.10.9
OctoPrint==1.4.2
OctoPrint-FileCheck==2020.8.7
OctoPrint-FirmwareCheck==2020.6.22
pathtools==0.1.2
pigpio==1.46
pkginfo==1.5.0.1
psutil==5.7.2
pyasn1==0.4.8
pylru==1.2.0
pyserial==3.4
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
RPi.GPIO==0.7.0
rsa==4.0
sarge==0.1.5.post0
semantic-version==2.8.5
sentry-sdk==0.17.6
six==1.15.0
tornado==5.1.1
Unidecode==0.4.21
urllib3==1.25.10
watchdog==0.10.3
webassets==2.0
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
