<form class="form-horizontal">
    
    <div class="control-group-header">
        <h3>RGB Settings</h3>
    </div>
    
    <div class="control-group">
        <label class="control-label">{{ _('Red Pin #') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.gpiorgbcontroller.red_pin">
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">{{ _('Green Pin #') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.gpiorgbcontroller.grn_pin">
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">{{ _('Blue Pin #') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.gpiorgbcontroller.blu_pin">
        </div>
    </div>
    
    <div class="control-group-header">
        <h3>Button Settings</h3>
    </div>
    
    <div class="control-group">
        <label class="control-label">{{ _('Input Pin #') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.gpiorgbcontroller.btn_pin">
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.gpiorgbcontroller.is_btn_en">
                {{ _('Enable input button') }}
            </label>
        </div>
    </div>
    
    <div class="control-group">
        <label>{{ _('Note: input button is active low (i.e. short to ground)') }}</label>
    </div>

    <div class="control-group-header">
        <h3>GCODE Commands</h3>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.gpiorgbcontroller.gcode_command_enable">
                {{ _("Enable M150 command") }}
            </label>
        </div>
    </div>

        <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.gpiorgbcontroller.gcode_index_enable">
                {{ _("Enable RGB Index") }}
            </label>
        </div>
    </div>

     <div class="control-group"  data-bind="visible: settings.plugins.gpiorgbcontroller.gcode_index_enable()">
        <label class="control-label">{{ _('RGB Index') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.gpiorgbcontroller.gcode_rgb_index">
        </div>
    </div>   

     <div class="control-group">
        <label>{{ _('GCODE Command Format:') }}</label>
        <label>{{ _('M150 R[red] U[grn] B[blu] I[idx]') }}</label>
        <label>{{ _('red = red intensity (0-255)') }}</label>
        <label>{{ _('grn = green intensity (0-255)') }}</label>
        <label>{{ _('blu = blue intensity (0-255)') }}</label>
        <label>{{ _('idx = RGB index (optional)') }}</label>
    
    </div>

</form>




